.site-header{
  height: $headerHeight;
  min-width: $min-width;
  left: 0;
  order: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  .wrapper {
    align-items: center;
    display: flex;
    //justify-content: flex-end;
    height: 100%;
    max-width: 95rem;
  }
  .logo {
    margin-right: auto;
    width: 10.5rem;
    svg {
      height: 6.7rem;
      max-width: 100%;
    }
  }

  .header-right {
    height: 100%;
    flex: 1;
    position: relative;
  }

  .mobile-menu-toggle {
    bottom: 0;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    text-align: right;
    width: 40px;
    @media screen and (min-width: 600px) {
      display: none;
    }
    .dash {
      background-color: #fff;
      display: inline-block;
      height: 2px;
      position: relative;
      width: 2.5rem;
      &.active {
        background-color: transparent;
        &:before {
          top: 0;
          transform: rotate(135deg);
          width: 2.5rem;
        }
        &:after {
          top: 0;
          transform: rotate(-135deg);
        }
      }
      &:before, &:after {
        background-color: #fff;
        display: inline-block;
        height: 2px;
        width: 2.5rem;
        content: '';
        right: 0;
        position: absolute;
        transition: all .2s;
      }
      &:before {
        top: -.8rem;
        width: 3.2rem;
      }
      &:after {top: .8rem;}
    }//.dash
  }//.mobile-menu-toggle

  .menu-wrapper {
    @media screen and (min-width: 601px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
    }
    @media screen and (max-width: 600px) {
      background: #fff;
      box-shadow: 0 12px 36px rgba(0,0,0,.5);
      border-radius: 5px;
      //display: flex;
      flex-direction: column;
      display: none;
      min-width: 20rem;
      padding: 1rem 0;
      position: absolute;
      top: 100%;
      right: 0;
    }
  }//.menu-wrapper

  nav {
    ul {
      list-style: none;
      li {
        color: #fff;
        display: inline-block;
        padding: 0 2rem;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {padding: 0 1rem;}
        @media screen and (max-width: 600px) {
          display: block;
          border-bottom: 1px solid #ccc;
        }
        &.current-menu-item a {color: $red;}

        a {
          @media screen and (max-width: 600px) {
            color: $violet;
            display: block;
            padding: 5px 1rem;
          }
          &:hover {color: $red;}
        }

      }//li
    }
  }//nav

  .socials {
    margin-left: 1rem;
    @media screen and (max-width: 600px) {
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding: 5px;
      text-align: center;
      width: 100%;
    }
    a {
      color: #fff;
      font-size: 26px;
      margin: 0 3px;
      &:hover {color: $red;}
      @media screen and (max-width: 768px) { font-size: 4rem; }
      @media screen and (max-width: 600px) {
        color: $violet;
      }
    }
  }//.socials

  .lang {
    margin-left: 2rem;
    @media screen and (max-width: 768px) {
      margin-left: .6rem;
    }
    @media screen and (max-width: 600px) {
      margin-left: 0;
      padding: 5px;
      text-align: center;
    }
    select {
      background: none;
      color: #fff;
      @media screen and (max-width: 768px) {
        border-radius: 1rem;
        height: 4rem;
      }
      @media screen and (max-width: 600px) {
        color: $violet;
      }
      option {color: $black;}

    }
  }
}//header

